<!-- views/pages/history.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container">
    <main>
        <h1>Query history</h1>
        <div class="row">
            <div class="movies-wrap">
                <% lastTen.forEach(function(movie) { %>
                <div class="movie">
                    <div class="movie-fon clearfix">
                        <div class="col-sm-5 col-md-4 pl">

                            <% if (!movie.data.poster_path) { %>
                            <img class="img-responsive" src="/img/no-poster.png" >
                            <% } else { %>
                            <img class="img-responsive" src="<%= urlPoster %><%= movie.data.poster_path %>" >
                            <% } %>
                        </div>
                        <div class="col-sm-7 col-md-8 pr">
                            <a href="<%= url %><%= movie.data.id %>">
                            <h2><%= movie.data.title %>
                                <span class="pull-right"><i class="fa fa-star" aria-hidden="true"></i> <%= movie.data.popularity %></span>
                            </h2></a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= movie.data.release_date %></p>

                            <p>
                                <b>Overview</b>: <%= movie.data.overview %>
                            </p>

                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </main>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>