<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <meta property="og:title" content="<%= movie.title %>">
    <meta property="og:type" content="movie">
    <meta property="og:url" content="https://movie-lite-bot.herokuapp.com/movie/<%= movie.title %>">
    <meta property="og:image" content="<%= movie.posterUrl %>">
    <meta property="og:site_name" content="The MovieLiteBot">
</head>
<body>

<header>
    <% include ../partials/header %>
</header>
<div class="container">
    <main>
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <% if (movie.poster_path || omdb.Poster !== 'N/A') { %>
                <img class="img-responsive" src="<%= movie.posterUrl || omdb.Poster%>" alt="<%= omdb.Poster %>">
                <% } else { %>
                <img class="img-responsive" src="/img/no-poster.png">
                <% } %>
            </div>
            <div class="col-sm-7 col-md-8">
                <h2><%= movie.title %>
                    <span class="pull-right"><i class="fa fa-star" aria-hidden="true"></i> <%= omdb.imdbRating %></span>
                </h2>
                <p><i class="fa fa-calendar" aria-hidden="true"></i> <%= movie.release_date %></p>
                <p>
                    <b>Genre</b>: <%= omdb.Genre %>
                </p>
                <p>
                    <b>Overview</b>: <%= movie.overview %>
                </p>
                <p>
                    <b>Country</b>: <%= omdb.Country %>
                </p>
                <p>
                    <b>Director:</b> <%= omdb.Director %>
                </p>
                <p>
                    <b>Actors:</b> <%= omdb.Actors %>
                </p>
                <p>
                    <b>Runtime:</b> <%= omdb.Runtime %>
                </p>
                <p>
                    <b>Awards:</b> <%= omdb.Awards %>
                </p>
                <p>
                    <b>Budget:</b> <%= omdb.BoxOffice %>
                </p>
            </div>
        </div>
    </main>
</div>


<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>

